services:
  mitm:
    image: debian:bookworm
    privileged: true
    container_name: MITM
    hostname: MITM
    tty: true
    stdin_open: true
    cap_add:
      - ALL
    networks:
      net:
        ipv4_address: 192.168.70.2
    ports:
      - "8080:8080"
    command: >                          # put anything you need to install on the machine here (as well as any config you may need to specify)
      bash -c "
        apt-get update &&
        apt-get install -y python3-pip ca-certificates &&
        pip3 install mitmproxy --break-system-packages &&
        mitmdump --listen-host 0.0.0.0 --listen-port 8080
      "

  web_server:
    image: debian:latest
    container_name: server
    hostname: server
    tty: true
    stdin_open: true
    cap_add:
      - ALL
    networks:
      net:
        ipv4_address: 192.168.70.4
    command: >                          # put anything you need to install on the machine here (as well as any config you may need to specify)
      bash -c "
        echo 'server configured successfully' &&
        tail -f /dev/null
       "

  host:
    image: debian:bookworm
    container_name: host
    privileged: true
    tty: true
    stdin_open: true
    environment:
      - DISPLAY=$DISPLAY
    networks:
      net:
        ipv4_address: 192.168.70.3
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/shm:/dev/shm:rw
      - $HOME/.Xauthority:/root/.Xauthority:rw
    command: >
      bash -c "
        apt-get update &&
        apt-get install -y firefox-esr dbus-x11 libgtk-3-0 libdbus-glib-1-2 libxt6 libcanberra-gtk-module libasound2 &&
        echo 'Firefox ESR installed successfully' &&
        tail -f /dev/null
      "

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.70.0/24
          gateway: 192.168.70.1

## we might need to put host and a server on different networks. The following is there in that case:
#  internal_net:
#    driver: bridge
#    ipam:
#      config:
#        - subnet: 192.168.70.0/24
#          gateway: 192.168.70.1
