version: "3.8"

services:
  host:
    image: debian:bookworm
    container_name: host
    privileged: true
    tty: true
    stdin_open: true
    environment:
      - DISPLAY=$DISPLAY
    networks:
      client-net:
        ipv4_address: 192.168.71.3
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/shm:/dev/shm:rw
      - $HOME/.Xauthority:/root/.Xauthority:rw
    command: |
      bash -c "
        apt-get update &&
        apt-get install -y firefox-esr dbus-x11 ca-certificates wget curl iputils-ping xz-utils kdialog &&
        mkdir -p /usr/lib/firefox-esr/distribution &&
        echo '
        {
          \"policies\": {
            \"ExtensionSettings\": {
              \"uBlock0@raymondhill.net\": {
                \"installation_mode\": \"force_installed\",
                \"install_url\": \"https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi\"
              },
              \"jid1-MnnxcxisBPnSXQ@jetpack\": {
                \"installation_mode\": \"force_installed\",
                \"install_url\": \"https://addons.mozilla.org/firefox/downloads/latest/privacy-badger17/latest.xpi\"
              },
              \"{73a6fe31-595d-460b-a920-fcc0f8843232}\": {
                \"installation_mode\": \"force_installed\",
                \"install_url\": \"https://addons.mozilla.org/firefox/downloads/latest/noscript/latest.xpi\"
              },
              \"browsec@browsec.com\": {
                \"installation_mode\": \"force_installed\",
               \"install_url\": \"https://addons.mozilla.org/firefox/downloads/latest/browsec/latest.xpi\"
              }
            }
          }
        }' > /usr/lib/firefox-esr/distribution/policies.json &&

        wget https://www.torproject.org/dist/torbrowser/15.0.5/tor-browser-linux-x86_64-15.0.5.tar.xz &&
        tar -xvf tor-browser-linux-x86_64-15.0.5.tar.xz &&
        cd tor-browser &&
        sed -i '85,88d' ./Browser/start-tor-browser &&
        cd / &&
        echo 'Tor Browser Ready' &&
        firefox &&
        cp -r /usr/lib/firefox-esr/ /usr/lib/firefox-esr-bak/ &&
        cp -r /root/.mozilla /root/.mozilla_bak &&
        touch cleanup.sh &&
        chmod +x cleanup.sh &&
        echo \"rm -r /root/.mozilla && rm -r /usr/lib/firefox-esr\" > cleanup.sh &&
        echo \"cp -r /root/.mozilla_bak /root/.mozilla && cp -r /usr/lib/firefox-esr-bak/ /usr/lib/firefox-esr/ \" >> cleanup.sh &&
        echo \"cd /root/.mozilla/firefox/*.default-esr\" >> cleanup.sh &&
        echo \"mv ./extensions/browsec@browsec.com.xpi /root/browsec@browsec.com.xpi\" >> cleanup.sh &&
        echo \"mv ./extensions/uBlock0@raymondhill.net.xpi /root/uBlock0@raymondhill.net.xpi\" >> cleanup.sh  &&
        echo \"mv ./extensions/jid1-MnnxcxisBPnSXQ@jetpack.xpi /root/jid1-MnnxcxisBPnSXQ@jetpack.xpi\" >> cleanup.sh &&
        echo \"mv ./extensions/{73a6fe31-595d-460b-a920-fcc0f8843232}.xpi /root/{73a6fe31-595d-460b-a920-fcc0f8843232}.xpi\" >> cleanup.sh &&
        echo \"cd /\" >> cleanup.sh &&
        echo 'Cleanup file is ready' &&

        touch settings.sh &&
        echo './cleanup.sh' > settings.sh &&
        echo \"echo 'Welcome to settings file'\" >> settings.sh &&
        echo \"read -p \\\"Do you want to test Firefox or Tor [f/t] \\\" browser\">> settings.sh &&
        echo \"if [[ \\\"\\\$\browser\\\" == \\\"t\\\" || \\\"\\\$\browser\\\" == \\\"T\\\" ]]; then\" >> settings.sh &&
        echo \"cd tor-browser\" >> settings.sh &&
        echo \"./start-tor-browser.desktop\" >> settings.sh &&
        echo \"else\" >> settings.sh &&
        echo \"echo 'Configuring Firefox extensions'\" >> settings.sh &&
        echo \"cd /root/.mozilla/firefox/*.default-esr\" >> settings.sh &&
        echo \"read -p \\\"Do you want to test Firefox with VPN? [y/n] \\\" vpn\" >> settings.sh &&
        echo \"read -p \\\"Enable uBlockOrigin? [y/n] \\\" ublock\" >> settings.sh &&
        echo \"read -p \\\"Enable Privacy Badger? [y/n] \\\" badger\" >> settings.sh &&
        echo \"read -p \\\"Enable NoScript? [y/n] \\\" noscript\" >> settings.sh &&
        echo \"read -p \\\"Enable strict browser privacy setting? [y/n]? \\\" privacySetting\" >> settings.sh &&

        echo \"if [[ \\\"\\\$\vpn\\\" == \\\"y\\\" || \\\"\\\$\vpn\\\" == \\\"Y\\\" ]]; then\" >> settings.sh &&
        echo \"mv /root/browsec@browsec.com.xpi ./extensions/browsec@browsec.com.xpi\" >> settings.sh &&
        echo 'fi' >> settings.sh &&

        echo \"if [[ \\\"\\\$\ublock\\\" == \\\"y\\\" || \\\"\\\$\ublock\\\" == \\\"Y\\\" ]]; then\" >> settings.sh &&
        echo \"mv /root/uBlock0@raymondhill.net.xpi ./extensions/uBlock0@raymondhill.net.xpi\" >> settings.sh &&
        echo 'fi' >> settings.sh &&
        echo \"if [[ \\\"\\\$\badger\\\" == \\\"y\\\" || \\\"\\\$\badger\\\" == \\\"Y\\\" ]]; then\" >> settings.sh &&
        echo \"mv /root/jid1-MnnxcxisBPnSXQ@jetpack.xpi ./extensions/jid1-MnnxcxisBPnSXQ@jetpack.xpi\" >> settings.sh &&
        echo 'fi' >> settings.sh &&
        echo \"if [[ \\\"\\\$\noscript\\\" == \\\"y\\\" || \\\"\\\$\noscript\\\" == \\\"Y\\\" ]]; then\" >> settings.sh &&
        echo \"mv /root/{73a6fe31-595d-460b-a920-fcc0f8843232}.xpi ./extensions/{73a6fe31-595d-460b-a920-fcc0f8843232}.xpi\" >> settings.sh &&
        echo 'fi' >> settings.sh &&
        echo \"if [[ \\\"\\\$\privacySetting\\\" == \\\"y\\\" || \\\"\\\$\privacySetting\\\" == \\\"Y\\\" ]]; then\" >> settings.sh &&
        echo \"sed -i '/browser.contentblocking.category/d' ./prefs.js\" >> settings.sh &&
        echo \"echo 'user_pref(\\\"browser.contentblocking.category\\\", \\\"strict\\\");' >> ./prefs.js\" >> settings.sh &&
        echo 'fi' >> settings.sh &&
        echo 'firefox' >> settings.sh &&
        echo 'fi' >> settings.sh &&
        chmod +x settings.sh &&
        sleep infinity
      "

  mitm:
    image: mitmproxy/mitmproxy:latest
    container_name: MITM
    command: mitmdump --listen-host 0.0.0.0 --listen-port 8080
    networks:
      client-net:
        ipv4_address: 192.168.71.2
      server-net:
        ipv4_address: 192.168.72.2
    ports:
      - "8080:8080"

  web:
    image: nginx:alpine
    container_name: web-server
    networks:
      server-net:
        ipv4_address: 192.168.72.4
    ports:
      - "8081:80"
    volumes:
      - ./webroot:/usr/share/nginx/html:ro
      - ./nginx-logs:/var/log/nginx:rw

networks:
  client-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.71.0/24
  server-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.72.0/24
